.fade-enter-active {
  transition: opacity .3s;
}
.fade-leave-active {
  transition: opacity 0s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}


$font-regular: 'Museo Sans Cyrl 500', sans-serif;
$font-thin: 'Museo Sans Cyrl 300', sans-serif;
$font-bold: 'Museo Sans Cyrl 900', sans-serif;

$orange: #F9B223;
$green: #006633;
$text: #555555;